In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pasighat,IN,2022-03-20 04:08:19,28.0667,95.3333,87.80,25,86,3.74
1,1,Barrow,US,2022-03-20 04:08:40,71.2906,-156.7887,-12.98,77,0,9.22
2,2,Tongren,CN,2022-03-20 04:08:40,27.7172,109.1853,49.69,90,100,5.19
3,3,Busselton,AU,2022-03-20 04:08:41,-33.6500,115.3333,78.80,50,100,7.38
4,4,Punta Arenas,CL,2022-03-20 04:08:41,-53.1500,-70.9167,48.31,66,0,11.50

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pasighat,IN,2022-03-20 04:08:19,28.0667,95.3333,87.80,25,86,3.74
3,3,Busselton,AU,2022-03-20 04:08:41,-33.6500,115.3333,78.80,50,100,7.38
9,9,Tautira,PF,2022-03-20 04:08:44,-17.7333,-149.1500,82.53,73,27,15.05
12,12,Port-Gentil,GA,2022-03-20 04:08:36,-0.7193,8.7815,81.09,78,71,12.24
13,13,Kahului,US,2022-03-20 04:04:28,20.8947,-156.4700,80.62,68,20,14.97
20,20,Rikitea,PF,2022-03-20 04:08:50,-23.1203,-134.9692,80.64,74,26,10.22
21,21,Hilo,US,2022-03-20 04:08:51,19.7297,-155.0900,75.25,87,40,10.36
22,22,Kirakira,SB,2022-03-20 04:08:51,-10.4544,161.9205,85.12,70,99,8.50
33,33,Puerto Ayora,EC,2022-03-20 04:08:56,-0.7393,-90.3518,78.33,81,25,4.38
49,49,Bambous Virieux,MU,2022-03-20 04:10:05,-20.3428,57.7575,84.22,94,75,0.00

In [11]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Pasighat      IN     87.80  28.0667   95.3333
3         Busselton      AU     78.80 -33.6500  115.3333
9           Tautira      PF     82.53 -17.7333 -149.1500
12      Port-Gentil      GA     81.09  -0.7193    8.7815
13          Kahului      US     80.62  20.8947 -156.4700
20          Rikitea      PF     80.64 -23.1203 -134.9692
21             Hilo      US     75.25  19.7297 -155.0900
22         Kirakira      SB     85.12 -10.4544  161.9205
33     Puerto Ayora      EC     78.33  -0.7393  -90.3518
49  Bambous Virieux      MU     84.22 -20.3428   57.7575

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Pasighat,IN,87.80,28.0667,95.3333,Siang Guest House
3,Busselton,AU,78.80,-33.6500,115.3333,Observatory Guest House
9,Tautira,PF,82.53,-17.7333,-149.1500,Pension Oaoa
12,Port-Gentil,GA,81.09,-0.7193,8.7815,Fengshui Residence
13,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
20,Rikitea,PF,80.64,-23.1203,-134.9692,People ThankYou
21,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Kirakira,SB,85.12,-10.4544,161.9205,SanBiz Lodge
33,Puerto Ayora,EC,78.33,-0.7393,-90.3518,Finch Bay Galapagos Hotel
49,Bambous Virieux,MU,84.22,-20.3428,57.7575,Casa Tia Villa

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))